@tailwind base;
@tailwind components;
@tailwind utilities;


/* todo needs dynamic font sizes*/


@layer base {
    html {
        scroll-behavior: smooth;
    }

    body {
        @apply bg-primary-bg;
        font-family: Roboto, Helvetica, Arial, sans-serif;
    }

    h1 {
        @apply text-8xl font-bold text-white;
        font-size: clamp(3rem, 7vw, 6rem);
        letter-spacing: 0.1em;
    }

    h2 {
        @apply text-5xl font-medium text-gray-400;
        letter-spacing: 0.1em;
    }

    h3 {
        @apply text-3xl font-medium text-gray-500;
        letter-spacing: 0.1em;
    }

    h6 {
        @apply font-light;
        letter-spacing: 0.01rem;
    }

    p {
        @apply text-vanilla;
    }
}

/*-------------------------------------*/
/*           Components                */
/*-------------------------------------*/

@layer components {
    .neumorphism {
        border-radius: 17px;
        @apply bg-primary-bg;
        box-shadow:  6px 6px 12px #0f1017,
        -6px -6px 12px #2b3045;
    }

    .neumorphism-inner {
        @apply neumorphism;
        box-shadow: inset 6px 6px 12px #0f1017,
        inset -6px -6px 12px #2b3045;
    }

    .tagCloudItems {
        @apply text-primary sm:text-[0.5rem] md:text-xl lg:text-2xl;
    }
}

/*-------------------------------------*/
/*           Utilities                 */
/*-------------------------------------*/

@layer utilities {
    .full-page-section {
        @apply h-[100vh] flex flex-col justify-center;
    }

    .container-resp {
        @apply container px-9 mx-auto;
        @apply lg:w-[60%] md:w-[70%] sm:w-[80%] w-[100%];
    }

    .extraLetterSpacing {
        letter-spacing: 0.3rem;
    }
}